
h1{
  position: absolute;
width: 262px;
height: 65px;
left: 400px;
top: 20px;


font-family: Ambidexter;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 129px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
p{
  position: absolute;
width: 826px;
height: 144px;
left: 400px;
top: 165px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 29px;

color: #000000;
}
.menu-1{
  position: fixed;
  width: 317px;
  height: 261px;
  left: 25px;
  top: 25px;
}
.постер{
  position: fixed;
  width: 244px;
  height: 317px;
  left: 25px;
  top: 311px;
}
.box-1{
  position: fixed;
width: 183px;
height: 41.62px;
left: 92px;
top: 58px;

border: 2px solid #000000;
box-sizing: border-box;
border-radius: 30px;
}
.box-2{
  position: fixed;
  width: 183px;
  height: 41.62px;
  left: 92px;
  top: 109.53px;

  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
}
.box-3{
  position: fixed;
  width: 183px;
  height: 41.62px;
  left: 92px;
  top: 161.06px;

  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
}
.box-4{
  position: fixed;
  width: 183px;
  height: 41.62px;
  left: 92px;
  top: 212.59px;

  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
}
.rectangle2{
  position: absolute;
  width: 950px;
  height: 520px;
  left: 428px;
  top: 2887px;
  right: 25px;

  background: #000000;
}
.rectangle{
  position: absolute;
  width: 950px;
  height: 2863px;
  right: 25px;
  left: 370px;
  top: 25px;

background: #F8F7F7;
}
.экстерьер{
  position: absolute;
width: 826px;
height: 520px;
left: 400px;
top: 362px;

}
p2{
  position: absolute;
width: 262px;
height: 42px;
left: 400px;
top: 891px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;

color: #000000;
}
.интерьер{
  position: absolute;
width: 544px;
height: 367px;
left: 400px;
top: 988px;
}
.кафетерий{
  position: absolute;
width: 262px;
height: 171px;
left: 964px;
top: 988px;

}
p3{
  position: absolute;
width: 262px;
height: 43px;
left: 400px;
top: 1362px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;

color: #000000;
}
p4{
  position: absolute;
width: 825px;
height: 140px;
left: 400px;
top: 1460px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 29px;

color: #000000;
}
.веб-плакат1{
  position: absolute;
width: 261px;
height: 373px;
left: 400px;
top: 1655px;
}
.веб-плакат2{
  position: absolute;
  width: 262px;
  height: 373px;
  left: 822px;
  top: 1655px;

}
p5{
  position: absolute;
width: 819px;
height: 54px;
left: 400px;
top: 2083px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 29px;

color: #000000;
}
.тунель{
position: absolute;
width: 950px;
height: 696px;
left: 370px;
top: 2192px;
right: 25px;
}
p6{
  position: absolute;
width: 194px;
height: 58px;
left: 400px;
top: 2943px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 29px;

color: #FFFFFF;
}

.VK{
  position: absolute;
width: 121px;
height: 118px;
left: 400px;
top: 3060px;

}
.INST{
  position: absolute;
width: 121px;
height: 121px;
left: 540px;
top: 3058px;
}
.FB{
  position: absolute;
width: 121px;
height: 121px;
left: 681px;
top: 3058px;

}
.subscribe{
  position: absolute;
width: 403px;
height: 62px;
left: 400px;
top: 3235px;
}
p7{
  position: absolute;
width: 200px;
height: 147px;
left: 1012px;
top: 2943px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 18px;

color: #FFFFFF;
}
p8{
  position: absolute;
width: 200px;
height: 87px;
left: 1012px;
top: 3100px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 29px;

color: #FFFFFF;
}
p9{
  position: absolute;
  width: 121px;
  height: 130px;
  left: 1012px;
  top: 3167px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;

  color: #FFFFFF;
}
p10{
  position: absolute;
width: 263px;
height: 260px;
left: 1152px;
top: 3167px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 26px;

color: #FFFFFF;

}

.textinput{
  position: absolute;
width: 403px;
height: 62px;
left: 400px;
top: 3280px;
text-align: center;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 26px;

color: #FFFFFF;
background: black;

border: 2px solid #FFFFFF;
box-sizing: border-box;
}
.textbutton{
  position: fixed;
  width: 203px;
  height: 46.17px;
border: 2px solid #000000;
left: 85px;
top: 50px;
border-radius: 50px 50px 50px 50px;
background: #F8F7F7;
display: block;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 21px;
align-items: center;
text-align: center;


color: #000000;
}
.textbutton-2{
  position: fixed;
  width: 203px;
  height: 46.17px;
border: 2px solid #000000;
left: 85px;
top: 105px;
border-radius: 50px 50px 50px 50px;
background: #F8F7F7;
display: block;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 21px;
align-items: center;
text-align: center;


color: #000000;

}
.textbutton-3{
  position: fixed;
  width: 203px;
  height: 46.17px;
border: 2px solid #000000;
left: 85px;
top: 160px;
border-radius: 50px 50px 50px 50px;
background: #F8F7F7;
display: block;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 21px;
align-items: center;
text-align: center;


color: #000000;
}
.textbutton-4{
  position: fixed;
  width: 203px;
  height: 46.17px;
border: 2px solid #000000;
left: 85px;
top: 215px;

border-radius: 50px 50px 50px 50px;
background: #F8F7F7;
display: block;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 21px;
align-items: center;
text-align: center;


color: #000000;
}

.textbutton:hover{
  background:  black;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  align-items: center;
  text-align: center;
  color: white;


}
.textbutton-2:hover{
  background:  black;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  align-items: center;
  text-align: center;
  color: white;


}
.textbutton-3:hover{
  background:  black;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  align-items: center;
  text-align: center;
  color: white;


}
.textbutton-4:hover{
  background:  black;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  align-items: center;
  text-align: center;
  color: white;


}
p11{
  position: absolute;
width: 450px;
height: 50px;
left: 400px;
top: 3235px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 26px;

color: #FFFFFF;
}
