.name{
  position: absolute;
  width: 200px;
  height: 32.31px;
  left: 482px;
  top: 220px;
  outline: none;
border: none;
background: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}
.surname{
  position: absolute;
  width: 119.74px;
  height: 32.31px;
  left: 482px;
  top: 288.63px;
  outline: none;
border: none;
background: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}
.Email{
  position: absolute;
  width: 70.25px;
  height: 32.31px;
  left: 482px;
  top: 353.25px;
  outline: none;
border: none;
background: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #000000;

}
.number{
  position: absolute;
  width: 109.36px;
  height: 32.31px;
  left: 482px;
  top: 417.88px;
  outline: none;
border: none;
background: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #000000;

}
.menu{
  position: fixed;
  width: 261px;
  height: 140px;
  left: 25px;
  top: 25px;
right: 25px;
}
.border{
  position: fixed;
  width: 1029px;
  height: 140px;
  left: 311px;
  top: 25px;

  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 0px 100px 0px 0px;
}
.radius{
  position: fixed;
  width: 1315px;
  height: 415px;
  left: 25px;
  top: 185px;
  border-radius: 0px 0 50px 150px;
  right: 25px;



background: #F8F7F7;
}
h1{
  position: fixed;
width: 424px;
height: 129px;
left: 380px;
top: 5px;

font-family: Ambidexter;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 129px;

color: #FFFFFF;
}
.line-1{
  position: absolute;
width: 372px;
height: 0px;
left: 482px;
top: 257.78px;

border: 1px solid #000000;

}
.line-2{
  position: absolute;
width: 372px;
height: 0px;
left: 482px;
top: 323.88px;

border: 1px solid #000000;
}
.line-3{
  position: absolute;
width: 372px;
height: 0px;
left: 482px;
top: 387.77px;

border: 1px solid #000000;
}
.line-4{
  position: absolute;
  width: 372px;
  height: 0px;
  left: 482px;
  top: 452.4px;

  border: 1px solid #000000;
}
.textbutton{
  position: absolute;
  width: 150px;
  height: 25px;
  left: 85px;
  top: 35px;
border: 1px solid #000000;

border-radius: 50px 50px 50px 50px;
background: #F8F7F7;
display: block;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
align-items: center;
text-align: center;


color: #000000;
}
.textbutton-2{
  position: fixed;
  width: 150px;
  height: 25px;
border: 1px solid #000000;
left: 85px;
top: 65px;
border-radius: 50px 50px 50px 50px;
background: #F8F7F7;
display: block;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
align-items: center;
text-align: center;


color: #000000;

}
.textbutton-3{
  position: fixed;
  width: 150px;
  height: 25px;
border: 1px solid #000000;
left: 85px;
top: 95px;
border-radius: 50px 50px 50px 50px;
background: #F8F7F7;
display: block;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
align-items: center;
text-align: center;


color: #000000;
}
.textbutton-4{
  position: fixed;
  width: 150px;
  height: 25px;
border: 1px solid #000000;
left: 85px;
top: 125px;
border-radius: 50px 50px 50px 50px;
background: #F8F7F7;
display: block;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
align-items: center;
text-align: center;


color: #000000;
}

.textbutton:hover{
  background:  black;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  align-items: center;
  text-align: center;
  color: white;


}
.textbutton-2:hover{
  background:  black;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  align-items: center;
  text-align: center;
  color: white;


}
.textbutton-3:hover{
  background:  black;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  align-items: center;
  text-align: center;
  color: white;


}
.textbutton-4:hover{
  background:  black;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  align-items: center;
  text-align: center;
  color: white;


}
